extends back/layout_simple

block content
  .container
    h1
      | #{error.status}
    h2
      | #{error.message}
    h3
      if error.directTo
        a(href="#{error.directTo}")
          | 请点击返回，或者在
          span#second
            | 5
          | 秒后自动返回
      else
        a(href="javascript:window.history.go(-1);")
          | 请点击返回，或者在
          span#second
            | 5
          | 秒后自动返回
    if showAll
      pre #{error.stack}
block bottomJavascript
  script.
    $(document).ready(function(){
      let second=5;
      setInterval(function(){
        $('#second').text(second);
        if(second==0){
          let directToUrl='#{directTo}';
          if (directToUrl!='')
            window.location.href='#{directTo}';
            //console.log('回指定页面');
          else
            //console.log('回前一页面');
            window.history.go(-1);
        }
        second--;
      },1000)

    });
